h1 {
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}

h2, h3 {
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.padding_right {
  display: none;
}

.padding_left {
  display: none;
}

.txt_center {
  text-align: center;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

.padding_top {
  padding-top: 50px;
}

.margin_null {
  margin: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .padding_right {
    display: inline-block;
    padding-right: 50px;
    width: 10vw;
  }

  .padding_left {
    display: inline-block;
    padding-left: 50px;
    width: 10vw;
  }
}
@media only screen and (min-width: 1824px) {
  h3 {
    font-size: 5rem;
  }

  .padding_right {
    display: inline-block;
    padding-right: 50px;
    width: 15vw;
  }

  .padding_left {
    display: inline-block;
    padding-left: 50px;
    width: 15vw;
  }
}
@font-face {
  font-family: "Grotesk-Light";
  src: url("./fonts/Grotesk-Light.ttf");
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("./fonts/Devonshire-Regular.ttf");
}
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
  font-size: 1.8em;
  /* base font-size is equivalent "14px" */
  font-family: "Grotesk-Light";
}

header {
  font-size: 3rem;
  padding: 30px;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
}

footer {
  display: flex;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  justify-content: space-between;
  font-size: 3rem;
  color: #fdcb46;
  background-color: #579c87;
}

.btn_foot {
  border: none;
  font-size: 3rem;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
}
.btn_foot:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
main {
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 70px);
}

article {
  font-size: 2rem;
  font-family: "Devonshire-Regular";
  color: #6b4649;
}

section {
  width: 50vw;
}

.scale_img {
  width: 350px;
  box-shadow: 0px 0px 10px 6px #dadada;
  transform: scale(1);
  transition: transform 200ms;
}
.scale_img:hover {
  transform: scale(1.1);
}

.btn {
  display: block;
  width: 15rem;
  margin-bottom: 2vw;
  border-radius: 2rem;
  font-size: 2rem;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  color: #fdcb46;
  background-color: #579c87;
  transition: transform 450ms, background-color 300ms 150ms;
}
.btn:hover {
  transform: scale(1.13);
  background-color: #399276;
}

.main_index {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.width_menu {
  width: 90vw;
  background-color: #fcdfdb;
}

.width_img {
  align-content: center;
  font-size: 100px;
  background: -webkit-linear-gradient(0.4turn, #ffbb00, #f80000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price {
  float: right;
  margin-top: -50px;
}

/*Underline From Left */
.hvr-underline-from-left {
  vertical-align: middle;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #6b4649;
  height: 4px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

@media (min-width: 768px) {
  article {
    font-size: 3rem;
  }

  .price {
    float: right;
    margin-top: -85px;
  }

  .width_menu {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
