@font-face {
  font-family: "Grotesk-Light";
  src: url("./fonts/Grotesk-Light.ttf");
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("./fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Croissantone-regular";
  src: url("./fonts/Croissantone-regular.ttf");
}
@font-face {
  font-family: "Dancing-script";
  src: url("./fonts/Dancing-script.ttf");
}
@font-face {
  font-family: "Soozle";
  src: url("./fonts/Soozle.ttf");
}
@font-face {
  font-family: "Kaushanscript";
  src: url("./fonts/Kaushanscript-regular.ttf");
}
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
  font-size: 1.8em;
  /* base font-size is equivalent "14px" */
  font-family: "Grotesk-Light";
}

h1 {
  margin: 0;
}

h1, h2, h3, h4 {
  text-align: center;
}

h2, h3, h4 {
  font-weight: normal;
}

h2, h3 {
  font-size: 4rem;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.txt_center {
  text-align: center;
}

.txt_left {
  text-align: left;
}

.txt_right {
  text-align: right;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

.padding_top {
  padding-top: 50px;
}

.padding_bottom {
  padding-bottom: 80px;
}

.padding_bottom_20px {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.padding-l-r {
  padding-left: 10px;
  padding-right: 10px;
}

.margin_null {
  margin: 0;
}

.margin_top {
  margin-top: 0.5vw;
}

.rotate-bar_menu {
  transform: rotate(180deg);
}

.img-orientation {
  transform: scaleX(-1);
}

@media (min-width: 768px) {
  h2, h3 {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  h2, h3 {
    font-size: 6rem;
  }

  li {
    width: 40vw;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .flexbox {
    display: flex;
    flex-wrap: nowrap;
  }

  .size_title_menu1 {
    font-size: 5rem;
  }
  .size_title_menu2 {
    font-size: 2.3rem;
  }

  .padding_bottom_20px {
    padding-left: 0;
  }
}
.header_top {
  font-size: 2rem;
  padding: 25px;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
}

@media (min-width: 768px) {
  .header_top {
    font-size: 5rem;
  }
}
footer {
  display: flex;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  justify-content: space-between;
  color: #fdcb46;
  background-color: #579c87;
}

.btn_foot {
  border: none;
  font-size: 2rem;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
}
.btn_foot:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media (min-width: 768px) {
  .btn_foot {
    font-size: 5rem;
  }
}
main {
  min-height: calc(100vh - 70px);
  margin: 0 auto;
}

section {
  width: 80vw;
  transform: scale(1);
  transition: transform 200ms;
}
section:hover a {
  transform: scale(1.1);
}
section:focus a {
  transform: scale(1.1);
}

.style_title-two {
  background: linear-gradient(30deg, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style_title-three {
  background: linear-gradient(30deg, #0e32de, #0b73f3, #4eaff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing-script";
}

.style_title-four {
  background: linear-gradient(0.3turn, #3d923a, #e4fecd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushanscript";
}

.bar_menu {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 20%;
  height: auto;
}

.scale_img {
  width: 45vw;
}

.shadow-box {
  box-shadow: 0px 0px 10px 6px #dadada;
}

.btn {
  display: block;
  width: 15rem;
  margin-bottom: 2vw;
  border-radius: 2rem;
  font-size: 2rem;
  overflow: hidden;
  margin: 15px auto;
  text-align: center;
  cursor: pointer;
  background-color: #579c87;
  opacity: 0.8;
  color: #fdcb46;
  transition: transform 450ms, background-color 300ms 150ms;
}
.btn:hover {
  opacity: 1;
  background: radial-gradient(circle, #64a994 0%, #457b6b 100%);
}

.width_menu {
  width: 90vw;
}

.width_menu_100 {
  width: 100%;
}

.color_menu--bg1 {
  background-color: #fcdfdb;
}
.color_menu--bg2 {
  background-color: #fff5fe;
}
.color_menu--bg3 {
  background-color: #edefef;
}
.color_menu--bg4 {
  background-color: #fdfffd;
}

.note--color {
  align-content: center;
  background: -webkit-linear-gradient(0.4turn, #ffbb00, #f80000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note--top {
  font-size: 10vw;
}
.note--bottom {
  font-size: 5vw;
}
.note--index {
  font-size: 5vw;
}

.rectangle-menu {
  margin-top: 50px;
  height: 400px;
  width: 250px;
}

.underline-menu:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  padding: 0 10px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.underline-menu:hover:after {
  width: 90%;
}

.underline-menu1:hover:after {
  background: #6B4649;
}

.underline-menu2:hover:after {
  background: linear-gradient(30deg, #C67412, #A56799, #6E4CCC);
}

.underline-menu3:hover:after {
  background: linear-gradient(30deg, #0E32DE, #0B73F3, #4EAFF7);
}

.underline-menu4:hover:after {
  background: linear-gradient(0.3turn, #3D923A, #E4FECD);
}

.dot {
  animation: 2s blink ease infinite;
}
.dot.one {
  animation-delay: 0.2s;
}
.dot.two {
  animation-delay: 0.4s;
}
.dot.three {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.style_menu1 {
  font-size: 3rem;
  font-family: "Devonshire-Regular";
  color: #6b4649;
}

.style_menu2 {
  font-size: 2rem;
  font-family: "Croissantone-regular";
}
.style_menu2--a {
  color: #c67412;
}
.style_menu2--b {
  color: #a56799;
}
.style_menu2--c {
  color: #6e4ccc;
}

.style_menu3 {
  font-size: 2rem;
  font-family: "Soozle";
  color: #181919;
}

.style_menu4 {
  font-size: 2rem;
  font-family: "Soozle";
  color: #4a4a4a;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_space-between {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.flex_space-between p:first-child {
  width: 80%;
}
.flex_space-between p:last-child {
  width: 10%;
}

.flex_nowrap {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .bar_menu {
    max-width: 100%;
    height: auto;
    width: 20%;
  }

  .btn {
    font-size: 4rem;
    width: 30vw;
    margin: 35px auto;
  }

  .scale_img {
    width: 40vw;
  }

  .width_menu {
    width: 80vw;
  }

  .style_menu1 {
    font-size: 4rem;
  }

  .style_menu2 {
    font-size: 3rem;
  }

  .style_menu3 {
    font-size: 3rem;
  }

  .style_menu4 {
    font-size: 3rem;
  }

  .rectangle-menu {
    height: 550px;
    width: 400px;
  }
}
@media (min-width: 1200px) {
  section {
    width: 60vw;
  }

  .padding_righ {
    padding-right: 20px;
  }
  .padding_left {
    padding-left: 20px;
  }

  .scale_img {
    width: 20vw;
    box-shadow: 0px 0px 10px 6px #dadada;
  }

  .width_menu {
    width: 60vw;
  }

  .width_menu_100 {
    width: initial;
  }

  .flex_space-between {
    display: flex;
    justify-content: space-between;
    padding: -200px;
  }

  .btn {
    width: 20vw;
  }

  .style_menu1 {
    font-size: 4rem;
  }

  .style_menu2 {
    font-size: 3rem;
  }

  .style_menu3 {
    font-size: 3rem;
  }

  .style_menu4 {
    font-size: 3rem;
  }

  .bar_menu {
    max-width: 100%;
    height: auto;
    width: 30%;
  }

  .rectangle-menu {
    height: 550px;
    width: 20%;
  }

  .note--index {
    font-size: 2vw;
  }
}

/*# sourceMappingURL=style.css.map */
