footer{
    display: flex;
    position: sticky;
    bottom: 0; right: 0; left: 0;
    padding: 10px;
    justify-content: space-between;
    font-size: 3rem;   
    color: $cd-secondary;
    background-color: $cd-primary;    
}