// Variables Colors
$cd-primary: #579c87;
$cd-secondary: #fdcb46;


// Variables Colors Menu
$cd-menu1-primary: #fcdfdb;
$cd-menu1-secondary: #6b4649;






// Variables Color Button
$cd-btn-start: #579c87;
$cd-btn-end: #399276;
$cd-btn: #579c87;