h1{
    margin: 0;
}

h1, h2, h3, h4{
    text-align: center;
}

h2, h3, h4{
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $cd-secondary;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_center{
    text-align: center;
}

.block_center{
    margin-left: auto;
    margin-right: auto;
}

.padding_top{
    padding-top: 50px;
}

.padding-l-r{
    padding-left: 10px;
    padding-right: 10px;
}

.padding_right{
    padding-right: 10px;
}

.padding_left{
    padding-left: 10px;
}

.margin_null{
    margin: 0;
}

.flexbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 30px;
}


@media ( min-width : 768px ) {  

    
}

 

@media ( min-width : 1200px ) {
    h3{
        font-size: 6rem;
    }

    .flexbox{  
        display: flex;      
        flex-wrap: nowrap;        
    }
}