h1{
    margin: 0;
}

h1, h2, h3{
    text-align: center;
}

h2, h3{
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $cd-secondary;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

section{
    width: 50vw;    
}

.txt_center{
    text-align: center;
}

.block_center{
    margin-left: auto;
    margin-right: auto;
}

.padding_top{
    padding-top: 50px;
}

.padding_right{
    padding-right: 50px;
}

.padding_left{
    padding-left: 50px;
}

.margin_null{
    margin: 0;
}


.flexbox{
    display: flex;
    justify-content: center;
}



@media (min-width: 768px) {
    h3{
        font-size: 5rem;
    }

}