footer{
    display: flex;
    position: sticky;
    bottom: 0; right: 0; left: 0;
    padding: 5px;
    justify-content: space-between;  
    color: $cd-secondary;
    background-color: $cd-primary;    
}

.btn_foot{
    border: none;
    font-size: 2rem;
    text-align: center;
    color: $cd-secondary;    
    background-color: $cd-primary;    
    &:hover{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }   
}

@media (min-width: 768px) {
    .btn_foot{        
        font-size: 3rem;
    }
  }