header{    
    font-size: 3rem;
    padding: 30px;
    text-align: center;
    color: $cd-secondary;
    background-color: $cd-primary;
}


@media ( min-width : 768px ) {  

    header{
        font-size: 5rem;
    }
}

