main {       
    margin: 0 auto;
}

section{
    width: 90vw;
    transform: scale(1);
    transition: transform 200ms;
    &:hover a{      
        transform: scale(1.10);
    }
    &:focus a{      
        transform: scale(1.10);
    }     
}

.style_title-two{
    background: linear-gradient(30deg, $cd-menu2-a-txt, $cd-menu2-b-txt, $cd-menu2-c-txt);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Croissantone-regular";
}

.style_title-three{
    background: linear-gradient(30deg, $cd-menu3-bar1, $cd-menu3-bar2, $cd-menu3-bar3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing-script";
}

.style_title-four{
    background: linear-gradient(0.30turn, $cd-menu4-bar1, $cd-menu4-bar2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Kaushanscript";
}

.size_title{
    &_menu1{
        font-size: 3rem; 
    }
    &_menu2{
        font-size: 2.3rem;
    }
}  

.bar_menu{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 3; 
    max-width: 100%;
    width: 20%;
    height: auto;
}

.scale_img{
    width: 45vw;
}

.shadow-box{
    box-shadow: 0px 0px 10px 6px rgb(218, 218, 218);
}

.btn {
    display: block;
    width: 15rem;
    margin-bottom: 2vw;    
    border-radius: 2rem;
    font-size: 2rem;
    overflow: hidden;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    background-color: $cd-primary;
    opacity: 0.8;
    color: $cd-secondary;
    transition: transform 450ms, background-color 300ms 150ms;
        &:hover {
            opacity: 1;
            background: radial-gradient(circle, lighten($cd-primary, 5) 0%, darken($cd-primary, 10) 100%);

    }
}

.width_menu{
    width: 90vw;
}

.width_menu_100{
    width: 100%;
 }

////////MIXIN COLOR BACKGROUND MENU///////////
.color_menu{
    @include color-background($bg-menus);
}

////////MIXIN TAILLE NOTE MUSIQUE///////////
.note {
    @include note-size($note-sizes);
}

.rectangle-menu{
    margin-top: 50px;
    height:     75vw;
    width:      55vw;
}

///////////////////underline///////////////
.underline-menu:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    padding: 0 10px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }

  .underline-menu:hover:after {
    width: 90%;
  }

  .underline-menu1:hover:after {
    background: #6B4649;
  }

  .underline-menu2:hover:after {
    background: linear-gradient(30deg, #C67412, #A56799, #6E4CCC);
  }

  .underline-menu3:hover:after {
    background: linear-gradient(30deg, #0E32DE, #0B73F3, #4EAFF7);
  }

  .underline-menu4:hover:after {
    background: linear-gradient(0.3turn, #3D923A, #E4FECD);
  }


//////////////ANIMATION POINT/////////////
.dot {
    animation: 2s blink ease infinite;
    &.one { animation-delay: 0.2s; }
    &.two { animation-delay: 0.4s; }
    &.three { animation-delay: 0.6s; }
}



  ////////Menu1///////
.style_menu1{
    font-size: 2rem;
    font-family: "Devonshire-Regular";
    color: $cd-menu1-txt;    
}

  ////////Menu2///////
 .style_menu2{
    font-size: 1.6rem;
    font-family: "Croissantone-regular";
    &--a{
        color: $cd-menu2-a-txt;
    }
    &--b{
        color: $cd-menu2-b-txt;
    }
    &--c{
        color: $cd-menu2-c-txt;
    }
}

 ////////Menu3///////
 .style_menu3{
    font-size: 2rem;
    font-family: "Soozle";
    color: $cd-menu3-txt;    
}

 ////////Menu4///////
.style_menu4{
    font-size: 2rem;
    font-family: "Soozle";
    color: $cd-menu4-txt;
}


/////////FLEX///////////
.flexbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_space-between{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.flex_space-between p{
    &:first-child{
        width: 80%;
    }
    &:last-child{
        width: 10%;
    }
}

.flex_nowrap{
    flex-shrink: 0;
}




///******************TABLETTE******************///

@media (min-width: 768px) {

    section h2{
        padding-left: 30px;
        padding-right: 30px;
    }
    

    .bar_menu{
        max-width: 100%;
        height: auto;
        width: 20%; 
    }

    .btn{
        font-size: 4rem;
        width: 30vw;
        margin: 35px auto;

    }

    .scale_img{
        width: 40vw;
    }  

    .width_menu{
        width: 80vw;
    }

    .size_title{
        &_menu1{
            font-size: 4rem; 
        }
        &_menu2{
            font-size: 2.3rem;
        }
    }  

      ////////Menu1///////
    .style_menu1{
        font-size: 4rem;
    }

     ////////Menu2///////
     .style_menu2{
        font-size: 3rem;
    }

      ////////Menu3///////
      .style_menu3{
        font-size: 3rem;
    }

     ////////Menu4///////
     .style_menu4{
        font-size: 3rem;
    }


    .rectangle-menu{
        height: 75vw;
        width: 45vw;
    }

}    


///******************PC******************///
@media ( min-width : 1200px ) {

    section{
        width: 60vw;  
    }    
    
    .scale_img{
        width: 20vw;
        box-shadow: 0px 0px 10px 6px rgb(218, 218, 218);
    }

    .width_menu{
        width: 60vw;
    }   

    .flex_space-between{
        display: flex;
        justify-content: space-between;
    }

    .btn {
        width: 20vw;
    }

    .size_title{
        &_menu1{
            font-size: 5rem; 
        }
        &_menu2{
            font-size: 2.3rem;
        }
    }

      ////////Menu1///////
    .style_menu1{
        font-size: 4rem;
    }

     ////////Menu2///////
     .style_menu2{
        font-size: 3rem;
    }

       ////////Menu3///////
       .style_menu3{
        font-size: 3rem;
    }

       ////////Menu4///////
       .style_menu4{
        font-size: 3rem;
    }

    .bar_menu{
        max-width: 100%;
        height: auto;
        width: 30%;
    }

    .rectangle-menu{
        height: 30vw;
        width: 20vw;
    }

    .note--index{
        font-size: 2vw;
    }

    .justify-item {
        display: flex;
        justify-content: space-around;
      }

}