main {       
    min-height: calc(100vh - 70px);
    margin: 0 auto;
    width: 15em
}

section{
    width: 70vw;    
}

.bar_menu{
    display: flex;
    flex-wrap: nowrap; 
    max-width: 100%;
    width: 20%;
    height: auto;
}

.rotate-bar_menu{
    transform: rotate(180deg);
}

.scale_img{
    width: 45vw;
    box-shadow: 0px 0px 10px 6px rgb(218, 218, 218);
}

.btn {
    display: block;
    width: 15rem;
    margin-bottom: 2vw;    
    border-radius: 2rem;
    font-size: 2rem;
    overflow: hidden;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    color: $cd-secondary;
    background-color: $cd-primary;    
    transition: transform 450ms, background-color 300ms 150ms;
        &:hover {
        transform: scale(1.13);
        background-color: $cd-btn-end;
    }
}

.width_menu{
    width: 90vw;
}

$bg-menus: (
    bg1  : $cd-menu1-bg,
    bg2  : $cd-menu2-bg,
    
);

$note-sizes:(
    top : 10vw, 
    bottom : 5vw,
);


@mixin color-background($key_arg) {
    @each $key, $val in $key_arg {
        &--#{$key}{background-color: $val}
    }
}

.color_menu{
    @include color-background($bg-menus);
}

@mixin note-size($key_arg) {
    &--#{color}{align-content: center;
    background: -webkit-linear-gradient(0.40turn, rgb(255, 187, 0), rgb(248, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
    @each $key, $val in $key_arg {
        &--#{$key}{font-size: $val}
    }
}

.note {
    @include note-size($note-sizes);
}

.padding_right{
    display: inline-block;
}

.padding_left{
    display: inline-block;
}

/*Underline From Left */
.hvr-underline-from-left {
    vertical-align: middle;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $cd-menu1-txt;
    height: 4px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  ////////Menu1///////
  .style_menu1{
    font-size: 2rem;
    font-family: "Devonshire-Regular";
    color: $cd-menu1-txt;    
}
  ////////Menu2///////
  .style_menu2{
    font-size: 2rem;
    font-family: "Croissantone-regular";
    &--a{
        color: $cd-menu2-a-txt;
    }
    &--b{
        color: $cd-menu2-b-txt;
    }
    &--c{
        color: $cd-menu2-c-txt;
    }
}

 ////////Menu3///////
 .style_menu3{
    font-size: 2rem;
    font-family: "Dancing-script";
    color: $cd-menu1-txt;    
}


////////////////////


.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_space-between{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.flex_nowrap{
    flex-shrink: 0;
}




@media (min-width: 768px) {
    main{
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .bar_menu{
        max-width: 100%;
        height: auto;
        width: 20%; 
    }

    .btn{
        font-size: 4rem;
        width: 30vw;
        margin: 35px auto;

    }

    .scale_img{
        width: 40vw;
    }  

    .width_menu{
        width: 80vw;
    }


      ////////Menu1///////
    .style_menu1{
        font-size: 5rem;
    }

     ////////Menu2///////
     .style_menu2{
        font-size: 3rem;
    }
}    


@media ( min-width : 1200px ) {

    section{
        width: 60vw;    
    }    

    .padding_right{
        padding-right: 20px;
    }
    
    .padding_left{
        padding-left: 20px;
    } 

    .scale_img{
        width: 20vw;
        box-shadow: 0px 0px 10px 6px rgb(218, 218, 218);
        transform: scale(1);
        transition: transform 200ms;
        &:hover {
            transform: scale(1.10);
        }
    }

    .width_menu{
        width: 60vw;
    }

    .flex_space-between{
        display: flex;
        justify-content: space-between;
        padding: -200px;
    }

    .btn {
        width: 20vw;
    }

      ////////Menu1///////
    .style_menu1{
        font-size: 4rem;
    }

     ////////Menu2///////
     .style_menu2{
        font-size: 3rem;
    }

    .bar_menu{
        max-width: 100%;
        height: auto;
        width: 30% 
    }
}