<!doctype html>
<html lang="fr">

    <head>
        <!-- Primary Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        

        <!-- Page Title -->
        <title>ohmyfood</title>

        <!-- Secondary Meta -->
        <meta name="description" content="Menu ohmyfood">
        <meta name="author" content="Jonathan Roza" />
        <meta name="copyright"   content="MIT">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="..\css/style.css">             
    </head>

    <body>        
        <header>
            <a href="..\index.html"><h1>ohmyfood</h1></a>        
        </header>   

        <main>
            <p>BLA BLA BLA</p>

            <a class="btn" href='..\index.html'>Retour</a>
            
        </main>

        <footer>
            <a class="btn_foot" href="view/mentions_legales.html">Mentions légales</a>
            <a class="btn_foot" href="mailto:ohmyfood@hotmail.com">Contactez-nous</a>            
        </footer>     
       
    </body>
</html>