<!doctype html>
<html lang="fr">
    
    <head>
        <!-- Primary Meta -->
        <meta charset="utf-8">

        <!-- Page Title -->
        <title>ohmyfood</title>

        <!-- Secondary Meta -->
        <meta name="description" content="Menu ohmyfood">
        <meta name="author" content="Jonathan Roza" />
        <meta name="copyright"   content="MIT">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/style.css">             
    </head>
    

    <body>        
        <header>
            <a href="index.html"><h1>ohmyfood</h1></a>            
        </header>  

        <main>              
            
            <p class="menu_name">La palette du goût</p>
            <figure>              
                <img class="menu_img--mod" src="img/Menus/menu-4b.png" alt="Menu 4" title="Menu 4">
            </figure>    
               
            <button class="btn_main" type="button" onclick="window.location.href='index.html'">Retour</button>

        </main>

        <footer>
            <button class="btn_foot" type="button" onclick="window.location.href='mentions_legales.html'">Mentions légales</button>
            <button class="btn_foot" type="button" onclick="window.location.href='mailto:ohmyfood@hotmail.com'">Contactez-nous</button>            
        </footer> 
    </body>
</html>