<!DOCTYPE html>
<html lang="fr">

    <head>
        <!-- Primary Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">                   

        <!-- Page Title -->
        <title>ohmyfood</title>

        <!-- Secondary Meta -->
        <meta name="description" content="Projet Numéro 3 d'OpenClassRooms : ohmyfood - Les menus des plus grands restaurants new-yorkais">
        <meta name="keywords" content="restaurant, new-york, menu"/>
        <meta name="author" content="Jonathan Roza" />
        <meta name="copyright"   content="MIT">
        <meta name="robots" content="follow"/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
            
    </head>
    <body>        
        <header class="header_top">
            <a href="../index.html">
                <h1>ohmyfood</h1>
            </a>        
        </header>
  
        <main>
            <h2>La palette du goût</h2> 
            <article class="block_center width_menu color_menu--bg4 shadow-box style_menu4 padding_bottom flex_center flex_column">
                <h3 class="margin_null padding_top style_title-four">La palette du goût</h3>
                <section class="flex_column flex_center">
                    <header class="flex_center">
                        <img class="bar_menu padding_right" src="../img/bar_menu4.png" alt="" />
                        <h4 class="underline-menu underline-menu4">Esquisse</h4>
                        <img class="bar_menu rotate-bar_menu padding_left" src="../img/bar_menu4.png" alt="" />
                    </header>
                    <ul>
                        <li class="flex_space-between">
                            <p>Fricassée d'escargot au piment d'espelette</p>
                            <p>60€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Oeuf au plat assaisonné à la truffe sur lit de caviar</p>
                            <p>55€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Foie gras de canard mi-cuit et ses copeaux de truffe noire</p>
                            <p>65€</p>
                        </li>                  
                    </ul>
                </section>
                <section class="flex_column flex_center">
                    <header class="flex_center">
                        <img class="bar_menu padding_right" src="../img/bar_menu4.png" alt="" />
                        <h4 class="underline-menu underline-menu4">Oeuvre de maître</h4>
                        <img class="bar_menu rotate-bar_menu padding_left" src="../img/bar_menu4.png" alt="" />
                    </header>
                    <ul>
                        <li class="flex_space-between">
                            <p>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes</p>
                            <p>70€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais</p>
                            <p>85€</p> 
                        </li>                               
                        <li class="flex_space-between">
                            <p>Filet de Turbot aux agrumes</p>
                            <p>125€</p>
                        </li>                                
                    </ul>     
                </section>  
                <section class="flex_column flex_center">
                    <header class="flex_center">
                        <img class="bar_menu padding_right" src="../img/bar_menu4.png" alt="" />
                        <h4 class="underline-menu underline-menu4">Au sommet de l'art</h4>
                        <img class="bar_menu rotate-bar_menu padding_left" src="../img/bar_menu4.png" alt="" />
                    </header>
                    <ul>
                        <li class="flex_space-between">
                            <p>Paris-Brest revisité</p>
                            <p>55€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Macaron au chocolat d'exception et glace a la vanille de Madagascar</p>
                            <p>65€</p> 
                        </li>                               
                        <li class="flex_space-between">
                            <p>Mousse au chocolat au piment d'espelette et à la truffe noire</p>
                            <p>60€</p>
                        </li>                                
                    </ul>
                </section> 
            </article>    
            <a class="btn block_center" href="../index.html">Retour</a>     
        </main>       

        <footer>
            <a class="btn_foot" href="mentions_legales.html">Mentions légales</a>
            <a class="btn_foot" href="mailto:ohmyfood@hotmail.com">Contactez-nous</a>           
        </footer>    
    
    </body>
</html>