<!doctype html>
<html lang="fr">

    <head>
        <!-- Primary Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">                   

        <!-- Page Title -->
        <title>ohmyfood</title>

        <!-- Secondary Meta -->
        <meta name="description" content="Menu ohmyfood">
        <meta name="author" content="Jonathan Roza" />
        <meta name="copyright"   content="MIT">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
            
    </head>

    <body>        
        <header>
            <a href="..\index.html"><h1>ohmyfood</h1></a>            
        </header>  

        <h2>La note enchantée</h2>

         
        <article class="block_center width_menu">             
            <i class="fas fa-music"></i>

            <h2>La note enchantée</h2>
           
                <ul>
                    <li>
                        <section class="block_center">

                            <img src="../img/bar_menu1.png" alt="" />
                            <h3 class="hvr-underline-from-left">Prélude</h3>
                            <img src="../img/bar_menu1.png" alt="" />
                                
                            <p>Ravioles de foie gras accompagnés de leur crème</p>
                            <p class="price">98€</p>
                            <p>Caviar osciètre sur blini à la farine de blé noir</p>
                            <p class="price">115€</p>
                            <p>Homard et espuma de potiron mariné aux zests d'orange</p>
                            <p class="price">89€</p>
                            <p>Foie gras de canard cuit entier, confiture de figue et pain toasté</p>
                            <p class="price">105€</p>

                        </section>
                    </li>
                
                    <li>
                        <section class="block_center">
                            <img src="../img/bar_menu1.png" alt="" />
                            <h3 class="hvr-underline-from-left">Point d'orgue</h3>
                            <img src="../img/bar_menu1.png" alt="" />

                            <p>Noix de coquilles Saint-Jacques sur lit de purée de céléri-rave</p>
                            <p class="price">102€</p>
                            <p>Langoustine poêlée, purée de patate douce</p>
                            <p class="price">205€</p>
                            <p>Mijoté de queue de boeuf et riz sauvage aux zests de citron</p>
                            <p class="price">169€</p>

                        </section>
                        
                    </li>       
                
                    <li> 
                        <section class="block_center">

                            <img src="../img/bar_menu1.png" alt="" />
                            <h3 class="block_center hvr-underline-from-left">Mouvement final</h3>
                            <img src="../img/bar_menu1.png" alt="" />

                            <p>Macron noisette et chocolat, glace au caramel brun et sel de Guérande</p>
                            <p>Baba au rhim revisité avec son coulis de citron</p>
                            <p>Tarte au citron meringuée destructurée</p>

                        </section>
                    </li>                         
                </ul>
            
            <h2>La note enchantée</h2>         
            
        </article>

        <a class="btn block_center" href='..\index.html'">Retour</a>

        <footer>
            <a class="btn_foot" href="mentions_legales.html">Mentions légales</a>
            <a class="btn_foot" href="mailto:ohmyfood@hotmail.com">Contactez-nous</a>           
        </footer>    
    
    </body>
</html>