<!DOCTYPE html>
<html lang="fr">

    <head>
        <!-- Primary Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">                   

        <!-- Page Title -->
        <title>ohmyfood</title>

        <!-- Secondary Meta -->
        <meta name="description" content="Projet Numéro 3 d'OpenClassRooms : ohmyfood - Les menus des plus grands restaurants new-yorkais">
        <meta name="keywords" content="restaurant, new-york, menu"/>
        <meta name="author" content="Jonathan Roza" />
        <meta name="copyright"   content="MIT">
        <meta name="robots" content="follow"/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
            
    </head>
    <body>        
        <header class="header_top">
            <a href="../index.html">
                <h1>ohmyfood</h1>
            </a>        
        </header>
        
        <main>
            <h2>Le délice des papilles</h2>  
            <article class="block_center width_menu color_menu--bg3 shadow-box style_menu3 padding_bottom flex_center flex_column">
                <h3 class="margin_null padding_top style_title-three">Le délice des papilles</h3>       
                <section class="flex_column flex_center style_menu3-b">
                    <header class="flex_center">
                        <img class="bar_menu padding-l-r" src="../img/bar_menu3.png" alt="" />
                        <h4 class="underline-menu underline-menu3">Pour bien commencer</h4>
                        <img class="bar_menu img-orientation padding-l-r" src="../img/bar_menu3.png" alt="" />
                    </header>
                    <ul>
                        <li class="flex_space-between">
                            <p>Tartare de thon assaisonné au yuzu</p>
                            <p>55€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Bouchée de homard croustillant et sa farandole de petits légumes</p>
                            <p>89€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Velouté de cèpes aux truffes</p>
                            <p>56€</p>
                        </li>
                    </ul>                   
                </section>
                <section class="flex_column flex_center style_menu3-b">
                    <header class="flex_center">
                        <img class="bar_menu padding-l-r" src="../img/bar_menu3.png" alt="" />
                        <h4 class="underline-menu underline-menu3">Pour bien continuer</h4>
                        <img class="bar_menu img-orientation padding-l-r" src="../img/bar_menu3.png" alt="" />
                    </header>
                    <ul>
                        <li class="flex_space-between">
                            <p>Poulet rôti aux herbes de provence et sa crème de truffe</p>
                            <p>110€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Langouste rôtie et ses légumes de saison</p>
                            <p>225€</p> 
                        </li>                               
                        <li class="flex_space-between">
                            <p>Côte de boeuf argus et sa purée de panais</p>
                            <p>115€</p>
                        </li>                                
                    </ul>     
                </section>                         
                <section class="flex_column flex_center style_menu3-b">
                    <header class="flex_center">
                        <img class="bar_menu padding-l-r" src="../img/bar_menu3.png" alt="" />
                        <h4 class="underline-menu underline-menu3">Pour bien terminer</h4>
                        <img class="bar_menu img-orientation padding-l-r" src="../img/bar_menu3.png" alt="" />
                    </header>
                    <ul class="width_menu_100">
                        <li class="flex_space-between">
                            <p class="">Farandole de desserts du chef</p>
                            <p>55€</p>
                        </li>
                        <li class="flex_space-between">
                            <p>Crème brulée revisitée</p>
                            <p>60€</p> 
                        </li>                               
                        <li class="flex_space-between">
                            <p>Tiramisu à la noisette</p>
                            <p>55€</p>
                        </li>                                
                    </ul>
                </section>                      
            </article>
            <a class="btn block_center" href="../index.html">Retour</a>
        </main>
        
        <footer>
            <a class="btn_foot" href="mentions_legales.html">Mentions légales</a>
            <a class="btn_foot" href="mailto:ohmyfood@hotmail.com">Contactez-nous</a>           
        </footer>    
    
    </body>
</html>